<div>
    <input type="file" #selectedFile style="display: none;" (change)="filesInputted($event)" multiple />
    <input type="button" value="Browse and Select File(s)" (click)="filesInputted($event)" />
    <br/>
    <div *ngFor="let file of files">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{file.name}}</mat-card-title>
                <mat-card-subtitle>{{bytesToMbs(file.size)}} MBs</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>  
    <mat-icon>cloud_upload</mat-icon>
    <br/>
    <button (click)="submit()" >Upload File(s) to Engine</button>
</div>